@font-face {
  font-family: TTNorms;
  font-display: swap;
  font-weight: 300;
  src: url("/src/fonts/TTNorms-Light.woff2") format('woff2');
}

@font-face {
  font-family: TTNorms;
  font-display: swap;
  font-weight: 400;
  src: url("/src/fonts/TTNorms-Regular.woff2") format('woff2');
}

@font-face {
  font-family: TTNorms;
  font-display: swap;
  font-weight: 500;
  src: url("/src/fonts/TTNorms-Medium.woff2") format('woff2');
}

@font-face {
  font-family: TTNorms;
  font-display: swap;
  font-weight: 700;
  src: url("/src/fonts/TTNorms-Bold.woff2") format('woff2');
}

@font-face {
  font-family: TTNorms;
  font-display: swap;
  font-weight: 700;
  src: url("/src/fonts/TTNorms-Black.woff2") format('woff2');
}