.our-customers {
  display: flex;
  flex-wrap: wrap;
}

.our-customers__picture {
  width: 360px;
}


.our-customers__item {
  width: 360px;
}

.our-customers__item--hillel {
  background: var(--gradient-hillel);
}

.our-customers__item--wannabiz {
  background-color: var(--gradient-wannabiz)
}

.our-customers__item--tapgerine {
  background-color: var(--gradient-tapgerine);
}

.our-customers__item--3dlook {
  background-color: var(--gradient-3dlook)
}

.our-customers__item--orangegear {
  background-color: var(--graient-orangegear);
}

.our-customers__item--adtelligent {
  background-color: var(--gradient-adtelligent);
}

.our-customers__item--clicky {
  background-color: var(--gradient-clicky);
}


.our-customers__item--ecoleasing {
  background-color: rgba(220, 243, 249, 1);
}


.our-customers__item--infratek {
  background-color: rgba(234, 234, 234, 1);
}

.our-customers__item--city-park {
  background-color: rgba(40, 34, 64, 1);
}


.our-customers__item--art-print {
  background-color: rgba(29, 69, 104, 1);

}

.our-customers__item--ultimate-card {
  background-color: rgba(0, 0, 0, 1);
}
