.our-customers {
  display: flex;
  flex-wrap: wrap;
}

.our-customers__picture {
  width: 360px;
}


.our-customers__item {
  width: 360px;
}

.our-customers__item--hillel {
  background-color: rgba(28, 66, 128, 1);
}

.our-customers__item--wannabiz {
  background-color: rgba(20, 54, 70, 1);
}

.our-customers__item--tapgerine {
  background-color: rgba(244, 139, 48, 1);
}

.our-customers__item--3dlook {
  background-color: rgba(158, 77, 195, 1);
}

.our-customers__item--orangegear {
  background-color: rgba(253, 147, 57, 1);
}

.our-customers__item--adtelligent {
  background-color: rgba(255, 255, 255, 1);
}

.our-customers__item--clicky {
  background-color: rgba(255, 255, 255, 1);
}


.our-customers__item--ecoleasing {
  background-color: rgba(220, 243, 249, 1);
}


.our-customers__item--infratek {
  background-color: rgba(234, 234, 234, 1);
}

.our-customers__item--city-park {
  background-color: rgba(40, 34, 64, 1);
}


.our-customers__item--art-print {
  background-color: rgba(29, 69, 104, 1);

}

.our-customers__item--ultimate-card {
  background-color: rgba(0, 0, 0, 1);
}
